* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Poppins';
}

body {
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head {
    display : flex ;
    flex-shrink: 0;
    height: auto;
}

#welcome-sign {
    margin-left: 2rem;
    width: 20%;
}

#welcome-message {
    margin-top: 2rem;
}

#main-clock {
    font-size: 7rem;
    font-weight : bolder;
    line-height: 1;
}

.splitter {
    margin: 2rem;
    margin-bottom: 0%;
    width: 0.4rem;
    background-color: white;
}

.timezones {
    margin-top: 2rem;
}

.timezone {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 2rem;
}

.climate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border-top: 0.5rem solid white;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    animation: load 1.25s ease infinite;
}

.get-info-message {
    font-size: 1rem;
    margin: 2rem;
}

.hide-element {
    display: none;
}

.music-locker {
    background-color: white;
    opacity: 0.4;
    margin: 2rem;
    border-radius: 10px;
    position: relative;
    flex: 1;
}

@keyframes load {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}